@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
/* Global elements */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
/* Global elements */
.container {
    max-width: 90%;
    margin: auto;
}
header {
    background-color: rgba(250, 233, 210, 0.342);
}
header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #07a0ff;
    display: block;
    margin: 25px 0;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bolder;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header ul li {
    display: inline-block;
    padding: 10px;
}
header ul li a {
    text-transform: capitalize;
    padding: 10px;
    font-size: 16px;
}
.btn-twitter {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1DA1F2;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hero {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: rgba(250, 233, 210, 0.342);
}
.hero-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 50px;
}
.hero-col-left h1 {
    padding-top: 20px;
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero-col-left p {
    margin-bottom: 15px;
    color: #999;
    padding-right: 50px;
}
.hero-col-left button {
    margin-bottom: 10px;
}
.hero-col-left .buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.hero-col-left .btn-twitter {
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1DA1F2;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}
.hero-col-left .btn-twitter img {
    margin-right: 10px;
}
.hero-col-left .btn-twitter a {
    color: white;
}
.hero-col-left .learn-more {
    padding: 10px;
    cursor: pointer;
    color: #056fb1;
}
.hero-col-right img{
    cursor: pointer;
    width: 100%;
}
.join-section {
    margin-top: 20px;
}
.join-section img {
    margin-left: -25px;
}
.join-section img:first-child {
    margin-left: 0px;
}
.join-section span {
    color: #056fb1;
}
.features {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.features-title {
    padding: 40px 0 20px 0;
}
.features-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding-bottom: 50px;
}
.features-card {
    border: 1px solid #c9c7c7;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.features-card-img img{
    width: 8%;
}
.features-card span {
    display: block;
    padding: 20px 0;
    text-transform: capitalize;
    font-weight: 700;
}
.features-card p {
    color: #999;
}

.customers {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.149);
}
.customers-title {
    padding: 40px 0 20px 0;
}
.customers-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 50px;
}
.customers-card {
    height: 200px;
    background-color: #fff;
    padding: 20px;
}
.customers-card:nth-child(even) {
    height: 250px;
}
.customers-card span {
    display: block;
}
.customers-card-img-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.customers-card-img img {
    margin-right: 5px ;
}
.customers-card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.customers-card-img-name-span {
    display: flex;
    flex-direction: column;
}
.customers-card-img-name-span span:nth-child(1) {
    font-weight: bolder;
}
.customers-card-p {
    color: #999;
    margin-bottom: 20px;
}
.customers-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.customers-card-footer-like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.customers-card-footer-date {
    text-transform: capitalize;
}
.customers-card-footer-like img {
    margin-right: 5px;
}
.pricing {
    width: 100%;
    height: 100%;
}
.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.pricing-title {
    padding: 40px 0 10px 0;
}
.pricing-p {
    text-align: center;
    color: #999;
}
.pricing-card-content {
    border: 1px solid orange;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 50px;
}
.pricing-card-price {
    padding-bottom: 20px;
}
.pricing-card-price span:first-child{
    color: #999;
    padding-bottom: 10px;
    display: block;
}
.pricing-card-price span:last-child {
    font-size: 17px;
    color: #999;
    font-weight: 300;
    display: inline-block;
}
.pricing-card-price h2 {
    font-size: 3rem;
}
.pricing-card-list-content {
    padding: 20px 0;
}
.pricing-card-list-content li {
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: #999;
}
.pricing-card-list-content img {
    margin-right: 10px;
}
.pricing-card-list .btn-twitter {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1DA1F2;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}
.pricing-card-list .btn-twitter img {
    margin-right: 10px;
}
.pricing-card-list .btn-twitter a {
    color: white;
}
footer{
    background-color: rgba(0, 255, 255, 0.149);
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .footer-item ul li {
    display: inline-block;
    padding: 10px;
}
footer .footer-item ul li a {
    color: #999;
    font-size: 15px;
}